.field
  .form-group
    = form.label :name
    = form.text_field :name, autofocus: true, class: "form-control"
  .field
    .form-group
      = form.label :email
      = form.email_field :email, autocomplete: "email", class: "form-control"
  .field
    .form-group
      = form.collection_select :tag_list, Tag.all, :name, :name, {}, {multiple: "multiple", class: "js-tags-select"}

