= form_for article do |f|

  - if article.errors.any?
    #error_explanation
      .alert.alert-danger
        %h2= "保存に失敗しました"
        %ul
          - article.errors.full_messages.each do |message|
            %li= message

  .field
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
  .field
    .form-group
      = f.label :body
      = f.text_area :body, class: "form-control"
  .actions
    = f.submit '公開', class: "btn btn-primary"
