= form_for article do |f|

  = render "shared/error_messages", resource: article do
    %p 記事の公開に失敗しました

  .field
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
  .field
    .form-group
      = f.label :tag_list
      %i= t 'tags.description'
      = text_field_tag 'article[tag_list]', article.tag_list.join(" "), class: "form-control"
  .field
    .form-group
      = f.label :body
      = f.text_area :body, class: "form-control"
  .actions
    = f.submit '公開', class: "btn btn-primary"
