= form_for article do |f|

  = render "shared/error_messages", resource: article do
    %p 記事の公開に失敗しました

  .field
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
  .field
    .form-group
      = f.collection_select :tag_list, Tag.all, :name, :name, {},
        {multiple: "multiple", class: "js-tags-select"}
  .field
    .form-group
      = f.label :body
      = f.text_area :body, class: "form-control"
  - if article.status.draft?
    .field
      .form-group
        = f.select :status, Article.status.options, {}, {class: "custom-select custom-select-lg"}
  .actions
    = f.submit '保存', class: "btn btn-primary"
