%h1
  = article.title

- if current_user == article.user
  = link_to 'Edit', edit_article_path(article)

%p
  .likes-link-to
    = log_in_required "いいねするためにはログインが必要です" do
      = likes_link_to article

%p
  = render 'tags/tags_label', tags: article.tags

%p<>
  = article.user.name
  さんが
  = distance_of_time_in_words_to_now(article.created_at)
  前に作成
  (
  = distance_of_time_in_words_to_now(article.updated_at)
  前に更新
  )

.border.rounded.text-break
  = simple_format(h(article.body))

= render "comments/list", comments: article.comments.order(:created_at)

= log_in_required "コメントをするためにはログインが必要です" do
  = render "comments/form", comment: article.comments.build
