%h1
  = article.title

%p
  = render 'tags/show', tags: article.tag_list

%p<>
  = article.user.name
  さんが
  = distance_of_time_in_words_to_now(article.created_at)
  前に作成
  (
  = distance_of_time_in_words_to_now(article.updated_at)
  前に更新
  )

.border.rounded
  %p
    = simple_format(h(article.body))

= render "comments/list"

- if current_user == article.user
  = link_to 'Edit', edit_article_path(article)
