%h1
  = article.title

%p
  = render 'tags/show', tags: article.tag_list
  
.row
  .col-sm-8= article.user.name
  .col-sm-2<
    = distance_of_time_in_words_to_now(article.created_at)
    前に作成
  .col-sm-2<
    = distance_of_time_in_words_to_now(article.updated_at)
    前に更新

.border.rounded
  %p
    = simple_format(h(article.body))

- if current_user == article.user
  = link_to 'Edit', edit_article_path(article)
