= content_for(:html_title, '記事一覧')

%h1 記事一覧

= search_form_for @q do |f|
  .form-group
    = f.label :title_or_body_cont
    = f.search_field :title_or_body_cont, class: "form-control"

  .form-group
    -# HACK 複数検索にしたい
    -# HACK i18nで"Tag Name"を日本語化したい
    = f.label :tags_name_in
    = f.text_field :tags_name_in, class: "form-control"

  = f.submit "検索", class: "btn btn-primary"

.mt-3
  = render 'index', articles: @articles

= raw pagy_bootstrap_nav(@pagy)
%br

- if current_user
  = link_to '新規記事', new_article_url
