= content_for(:html_title, '記事一覧')

%h1 あなたの記事一覧

%table.table
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= render 'tags/show', tags: article.tag_list
        %td= render 'comments/count', article: article
        %td
          = link_to '編集', edit_article_path(article), class: "btn btn-primary"
          = link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"

= raw pagy_bootstrap_nav(@pagy)
%br

= link_to '新規記事', new_article_url
