= content_for(:html_title) { 'トレンド' }

.row
  = render "side"

  .col
    %h1 トレンド

    %table.table
      %tbody
        - @articles.each do |article|
          %tr
            %td
              .row
                .col-auto= link_to article.title, article
              .row.list-secondary
                .col-auto
                  by
                  = link_to  article.user.name, article.user
                .col-auto= I18n.with_locale(:en) { distance_of_time_in_words_to_now(article.created_at) } + " ago"
                .col-auto
                  = fa_icon "thumbs-up"
                  = article.get_likes.size

    = raw pagy_bootstrap_nav(@pagy)
