%td= tag.name
%td= tag.taggings_count
%td
  - if current_user.tags.include?(tag)
    = form_tag tag_path(tag),  method: :delete, remote: true do
      = submit_tag "フォロー解除", class: "btn btn-primary"
  - else
    = form_tag tags_path, remote: true do
      = hidden_field_tag :tag_id, tag.id
      = submit_tag "フォロー", class: "btn btn-primary"
