!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title= content_for?(:html_title) ? yield(:html_title) + " - QiitaClone" : "QiitaClone"
    = Gon::Base.render_data
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => root_path} Qiita Clone
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => articles_path}
              記事一覧
          %li.nav-item
            %a.nav-link{:href => users_path}
              ユーザ一覧
          %li.nav-item
            %a.nav-link{:href => tags_path}
              タグ一覧
          - if user_signed_in?
            %li.nav-item
              %a.nav-link.border.border-dark.rounded{:href => new_article_path}
                投稿する
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                マイメニュー
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to "自分の記事", articles_path, class: "dropdown-item"
                = link_to "ドラフトの記事", drafts_articles_path, class: "dropdown-item"
                = link_to "プロフィール", edit_user_registration_path, class: "dropdown-item"
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
          - else
            %a.nav-link{:href => new_user_session_path}
              ログイン

        = search_form_for Article.ransack, class: "form-inline my-2 my-lg-0" do |f|
          .form-group
            = f.search_field :title_or_body_cont, placeholder: "ここに入力",
              class: "form-control mr-sm-2", "aria-label" => "Search"
          = submit_tag "検索", class: "btn btn-outline-success my-2 my-sm-0"

    .container
      - if notice.present?
        .alert.alert-primary
          %p.notice
            = notice
      - if alert.present?
        .alert.alert-danger
          %p.alert
            = alert

      = yield
